---
import Element from "./Element.astro";
// import "./page.css";
const { props } = Astro;
---

<main {...(props.attributes ?? {})} >
   {/* <h1>Welcome to <span class="text-gradient">{props.title}</span></h1> */}
   {props.childElements.map((props) => <Element {...props} />)}
</main>

