:root {
   --item-width: 512px;
   --gap: 2px;
   --width: 50%;
   --cols: 2;
   --size: calc(var(--width) / var(--cols) - var(--gap));
}

@media (orientation: portrait) {
   :root {
      --width: 100%;
   }
}

body {
   margin: 0 var(--gap);
}

main {
   margin: auto;
   /* padding: 1.5rem; */
   width: var(--width);

   /* padding-left: 5vw;
   padding-right: 5vw;
   width: 100%; */

   /* font-family: "Times New Roman", Times, serif; */

   padding-top: 100px;
}

#section {
   display: flex;
   flex-direction: column;
   gap: 25px;
   width: 100%;
}

h1 {
   font-size: 3rem;
   font-weight: 800;
   margin: 0;
   margin-bottom: 15px;
}

.text-gradient {
   background-image: var(--accent-gradient);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-size: 400%;
   background-position: 0%;
}

#header {
   position: fixed;
   top: -0;
   left: 0;
   right: 0;

   display: flex;
   height: 100px;

   backdrop-filter: blur(10px);
}

.header-button {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 50px;

   font-weight: bold;
}

ul {
   padding: 0;
   margin: 0;
}

li {
   list-style: none;
   padding: 0;
   margin: 0;
}

img {
   display: block;
   /* min-width: 0;
   min-height: 0;

   max-width: var(--size);
   max-height: var(--size);

   width: var(--size);
   height: var(--size); */

   /* width: var(--item-width); */
   width: 100%;
   /* max-width: 100%; */
   aspect-ratio: 1 / 1;

   object-fit: cover;
   white-space: pre-wrap;
   overflow-wrap: break-word;

   overflow: auto;
   background-color: rgba(125, 0, 255, 0.25);
}

@media (orientation: portrait) {
   img {
      overflow: hidden;
   }
}

#Grid {
   visibility: hidden;
   /* display: flex;
   flex-wrap: wrap; */

   display: grid;
   grid-template-columns: repeat(var(--cols), var(--item-width));

   gap: var(--gap);
}

#Grid:hover-inside {
}
